input
{
    background: #e9e9e9;
    border-radius: 2px;
    padding: 10px;
    width: 250px;
    border: 2px solid #e9e9e9;
    -webkit-transition-duration: 0.2s;
    font-family: montserrat;
    margin: 5px;
}
input:focus
{
    border-radius: 2px;
    padding: 10px;
    width: 250px;
    border: 2px solid dodgerblue;
    -webkit-transition-duration: 0.2s;
}
button
{
    margin: 5px;
    background: dodgerblue;
    border-radius: 2px;
    padding: 10px;
    width: 275px;
    -webkit-transition-duration: 0.2s;
    border: 2px solid dodgerblue;
    font-family: montserrat;
    color: white;
    align-content: center;
    vertical-align: middle;
}
button:hover
{
    -webkit-transition-duration: 0.2s;
    background: white;
    color: black;
}
document {
    background-repeat: no-repeat;
    -webkit-background-size: auto;
    background-size: auto;
}
h1
{
    font-family: Montserrat;
}
a
{
    color: dodgerblue;
    font-family: Montserrat;
}
p
{
    font-family: Montserrat;
}